    /*General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #7d7f84;
}

/* Utilitys*/

h2{
    color: #fff;
}
.up{
    text-transform: uppercase;
    color: #fff;
    font-size:14px;
}

.row:not(:last-child){
    margin-bottom: 100px;
}

img{
    max-width: 100%;
}

.card{
    padding:30px 15px 20px 0px;
    text-align: center;
    flex-basis: calc(100% / 6);
}

.card .img-container{
    flex-basis: 100%;
    margin-bottom: 15px;
}

.cards-content  h3{
    color: #fff;
    font-size:18px;
}

.cards-content .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main content */
.content{
    display:flex;
}

/* Sidebar */
.sidebar{
    width:230px;
    height:calc(100vh - 90px);
    background:#000;
    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Logo */
.sidebar .logo {
    padding:20px 80px 10px 0px;
    margin-bottom: 20px;
}

/* Utilitys-sidebar */
.sidebar .utilitys{
    margin-bottom:30px;
}

.sidebar .utilitys ul{
    font-weight: 600;
    font-size:14px;
    list-style: none;
}

.sidebar .utilitys ul li{
    margin-bottom:10px;
}

.sidebar .utilitys ul li a{
    display:flex;
    align-items: center;
    color: #7d7f84;
    text-decoration: none;
}
.sidebar .utilitys ul li img{
    max-width:20px;
    margin-right: 5px;
}

/* Playlist */
.sidebar .playlist{
    flex-grow: 2;
}

.sidebar .playlist ul {
    list-style: none;
}

.sidebar .playlist ul li a{
    display:flex;
    align-items: center;
    color: #7d7f84;
    text-decoration: none;
}

.sidebar .playlist ul li:first-child{
    font-size:14px;
    font-weight: 700;
    margin-top:10px;
    margin-bottom: 20px;
}

.sidebar .playlist ul li:not(:first-child){
    margin-top:10px;
    margin-bottom:20px;
    font-weight: 600;
    font-size: 12px;
}

.sidebar .playlist ul li a .plus-square{
    width: 30px;
    height: 30px;
    background-color:#7d7f84;
    position: relative;
    border-radius:2px;
    margin-right: 10px;
}

.sidebar .playlist ul li a .plus-square i{
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50% , -50%)
}

/* Download */
.sidebar .download{
    margin-bottom: 10px;
}

.sidebar .download a{
    display:flex;
    text-decoration: none;
    color: #7d7f84;
    font-size:12px;
    font-weight: 600;
}

.sidebar .download a h2{
    align-self: center;
}

.sidebar .download img{
    width: 20px;
    margin-right: 10px;;
}

.sidebar .download .user img{
    width: 100%;
}
.sidebar .download>span{
    display:inline-block;
    width:100%;
    height:1px;
    background:#7d7f84;
    margin-bottom: 10px;
}

.sidebar .download .user{
    display:inline-block;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background:#7d7f84;
    overflow:hidden;
    margin-right: 10px;
}


/* Main-content */
.main-content{
    height:calc(100vh - 90px);
    width:calc(100vw - 230px);
    background:#141922;
    position: relative;
    padding: 100px 20px 50px 20px;
    overflow-y: auto;
}

/* Link menù */
.main-content .link{
    margin-bottom: 40px;
}

.main-content ul {
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    display:flex;
}

.main-content ul li{
    margin-right: 15px;
}

.main-content ul li:last-child{
    margin-right: 0;
}

.main-content ul li a{
    text-decoration: none;
    color: #7d7f84;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

/* Cards content */
.cards-content{
    display:flex;
}

.main-content h5{
    margin-top:20px;
}

/* Row3 */
.main-content .row3 .cards-content .img-container {
    overflow:hidden;
    border-radius: 50%;
}

/* Header */
.header{
    position: absolute;
    top: 0;
    right: 0;
    background:rgba(0,0 ,0 , 0.5);
    width:calc(100vw - 230px);
    height: 90px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.header button{
    background:transparent;
    padding:15px 50px;
    margin-right: 25px;
    border:2px solid #f6f7f7;
    border-radius:30px;
    color: #f6f7f7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}

/* Footer */
.bottom-bar{
    height:90px;
    background:#282828;
}