    /*General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #7d7f84;
}

/* Utilitys*/


h2{
    color: #fff;
}
.up{
    text-transform: uppercase;
    color: #fff;
    font-size:14px;
}

.row:not(:last-child){
    margin-bottom: 100px;
}


.fake-border{
    max-width: 50px;
    width:50px;
    height: 2px;
    border-radius:20px;
    background-color: lime;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

img{
    max-width: 100%;
}
a{
    transition: color 0.2s;
}

/* Main content */
.content{
    display:flex;
}

/* Sidebar */
.sidebar{
    width:230px;
    height:calc(100vh - 90px);
    background:#000;
    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Logo */
.sidebar .logo {
    padding:20px 80px 10px 0px;
    margin-bottom: 20px;
}

/* Utilitys-sidebar */
.sidebar .utilitys{
    margin-bottom:30px;
}

.sidebar .utilitys ul{
    font-weight: 600;
    font-size:14px;
    list-style: none;
}

.sidebar .utilitys ul li{
    margin-bottom:10px;
}

.sidebar .utilitys ul li a:hover{
    color:#fff;
}

.sidebar .utilitys ul li a{
    display:flex;
    align-items: center;
    color: #7d7f84;
    text-decoration: none;
}
.sidebar .utilitys ul li img{
    max-width:20px;
    margin-right: 5px;
}

/* Playlist */
.sidebar .playlist{
    flex-grow: 2;
}

.sidebar .playlist ul {
    list-style: none;
}

.sidebar .playlist ul li a{
    display:flex;
    align-items: center;
    color: #7d7f84;
    text-decoration: none;
}

.sidebar .playlist ul li a:hover{
    color: #fff;
}

.sidebar .playlist ul li:first-child{
    font-size:14px;
    font-weight: 700;
    margin-top:10px;
    margin-bottom: 20px;
}

.sidebar .playlist ul li:not(:first-child){
    margin-top:10px;
    margin-bottom:20px;
    font-weight: 600;
    font-size: 12px;
}

.sidebar .playlist ul li a .plus-square{
    width: 30px;
    height: 30px;
    background-color:#7d7f84;
    position: relative;
    border-radius:2px;
    margin-right: 10px;
}

.sidebar .playlist ul li a .plus-square i{
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50% , -50%)
}

/* Download */
.sidebar .download{
    margin-bottom: 10px;
}

.sidebar .download a{
    display:flex;
    text-decoration: none;
    color: #7d7f84;
    font-size:12px;
    font-weight: 600;
}

.sidebar .download a h2{
    align-self: center;
}

.sidebar .download img{
    width: 20px;
    margin-right: 10px;;
}

.sidebar .download .user img{
    width: 100%;
}
.sidebar .download>span{
    display:inline-block;
    width:100%;
    height:1px;
    background:#7d7f84;
    margin-bottom: 10px;
}

.sidebar .download .user{
    display:inline-block;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background:#7d7f84;
    overflow:hidden;
    margin-right: 10px;
}


/* Main-content */
.main-content{
    height:calc(100vh - 90px);
    width:calc(100vw - 230px);
    background:#141922;
    position: relative;
    padding: 100px 20px 50px 20px;
    overflow-y: auto;
}

/* Link menù */
.main-content .link{
    margin-bottom: 40px;
}

.main-content ul {
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    display:flex;
}

.main-content .link ul li{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.main-content .link ul li:hover .fake-border{
    opacity: 1;
}

.main-content ul li:last-child{
    margin-right: 0;
}

.main-content ul li a:hover{
    color: #fff;
}

.main-content ul li a{
    text-decoration: none;
    color: #7d7f84;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

/* Cards content */
.card{
    padding:30px 15px 20px 0px;
    text-align: center;
    flex-basis: calc(100% / 6);
}

.card .img-container{
    flex-basis: 100%;
    margin-bottom: 15px;
    position: relative;
}

.card .img-container .play-icon{
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform:translate(-50% , 50%);
    font-size:50px;
    color:#fff;
    transition: bottom 1s;
}

.img-container:hover .play-icon {
    bottom: 50%;
    opacity: 1;
    animation: float .15s 1s infinite alternate;
  }
  
  @keyframes float {
    from {
      transform: translate(-50%, 50%);
    }
    to {
      transform: translate(-50%, 40%);
    }
  }


.card .img-container .overlay{
    width: 100%;
    height:100%;
    background:rgba(0,0 ,0 , 0.5);
    position: absolute;
    z-index: 5;
    right:0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.card .img-container:hover .overlay{
    opacity: 1;
}

.cards-content  h3{
    color: #fff;
    font-size:18px;
}

.cards-content .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-content{
    display:flex;
}

.main-content h5{
    margin-top:20px;
}

/* Row3 */
.main-content .row3 .cards-content .img-container {
    overflow:hidden;
    border-radius: 50%;
}

/* Header */
.header{
    position: absolute;
    top: 0;
    right: 0;
    background:rgba(0,0 ,0 , 0.5);
    width:calc(100vw - 230px);
    height: 90px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    z-index: 10;
}

.header button{
    background:transparent;
    padding:15px 50px;
    margin-right: 25px;
    border:2px solid #f6f7f7;
    border-radius:30px;
    color: #f6f7f7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.header button:hover{
    transform: scale(1.1);
}

/* Footer */
.bottom-bar{
    height:90px;
    background:#282828;
    padding: 20px;
    display: flex;
    align-items:center;
}

/* Footer play */

footer .play{
    display: flex;
    align-items:center;
}

footer .play img{
    margin-right: 15px;
    width: 50px;
}

footer .play .text-album{
    margin-right: 50px;
}

footer .play h4{
    color: #fff;
    font-size:12px;
}

footer .play h5{
    font-size:10px;
}

footer .play a{
    color: #7d7f84;
}

footer .play a:hover{
    color: #fff;
}

footer .play a:not(:last-child){
    margin-right:8px;
}

/* Footer command */
footer .command-container{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .command-container a:nth-child(3){
    font-size:28px;
}

footer .command-container a{
    color: #fff;
    padding-right: 15px;
}

footer .command-container a:hover{
    color: lime;
   
}

footer .command-container .bar-command{
    display: flex;
    align-items: center;
}

footer .command-container .bar-command span{
    width: 500px;
    height:3px;
    background:#5a5a5a;
    margin-left: 15px;
    margin-right: 15px;
    border-radius:5px;
    position: relative;
}

footer .command-container .bar-command span>div{
    width: 100px;
    height:3px;
    background:#ffffff;
    border-radius:5px;
}

footer .command-container .bar-command span>div::after{
    content:"";
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: #fff;
    display:inline-block;
    position: absolute;
    right:77%;
    top: 50%;
    transform:translate(-50% , -50%);
    opacity: 0;
}

.command-container .bar-command:hover span>div::after{
    opacity: 1;
}

.command-container .bar-command:hover:hover span>div{
    background:lime;
}

.bar-command h5{
    color: #fff;
}


footer .control a{
    color: #fff;
    padding-right: 15px;
}

footer .control a:hover{
    color: lime;
}

footer .control-bar{
    display: flex;
    align-items: center;
}

footer .control-bar span>div::after{
    content:"";
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: #fff;
    display:inline-block;
    position: absolute;
    right:35%;
    top: 50%;
    transform:translate(-50% , -50%);
    opacity: 0;
}

.control .control-bar:hover span>div{
    background:lime;
}

.control .control-bar:hover span>div::after{
    opacity: 1;
}

footer .control-bar span>div{
    width: 50px;
    height:3px;
    background:#ffffff;
    border-radius:5px;
}

footer .control-bar span{
    width: 100px;
    height:3px;
    background:#5a5a5a;
    position: relative;
    border-radius:5px;
}